In [ ]:
import os
from google.cloud import translate_v2
import pandas as pd

In [ ]:
## If you are using colab, you can import google drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Pass your Google translate API
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r""

In [ ]:
#Data Loading process
train_data = pd.read_csv('', sep = '\t')
test_data = pd.read_csv('', sep = '\t')

In [ ]:
train_data

In [ ]:
#Preprocessing the intent column for both train and test set
def preprocess_intent_column(sentence): 
  sentence = sentence
  return sentence[5:]

In [ ]:
train_data['intent'] = train_data['intent'].apply(preprocess_intent_column)
test_data['intent'] = test_data['intent'].apply(preprocess_intent_column)

In [ ]:
test_data

In [ ]:
def counting_characters(set,dataset):
  total = 0
  print("_____________________{s}_______________________".format(s = set))
  for i in dataset.columns[1:]:
    sum = 0
    for sentence in dataset[i]:
      length = len(sentence)
      sum+=length
    total+=sum
    
    print("Colum Name: {col} , Number of characters: {summation}".format(col = i, summation = sum))
  print("Total number of Characters: {}".format(total))

In [ ]:
counting_characters('Train',train_data)

_____________________Train_______________________
Colum Name: utterance , Number of characters: 317631
Colum Name: slot_labels , Number of characters: 458342
Colum Name: intent , Number of characters: 34481
Total number of Characters: 810454

In [ ]:
counting_characters('Test',test_data)

_____________________Test_______________________
Colum Name: utterance , Number of characters: 51229
Colum Name: slot_labels , Number of characters: 80345
Colum Name: intent , Number of characters: 6276
Total number of Characters: 137850

In [ ]:
class Translations:
  
  def __init__(self,data, language, target):

    self.data = data
    self.language = language
    self.target = target

  # Performing the translation part

  def process_translations(self,line):

    self.line = line
    
    translate_client = translate_v2.Client()

    translated = translate_client.translate(self.line,target_language= self.target)

    return list(translated.values())[0]

  def translated_data(self):

    for i in self.data.columns[1:4]:
      self.data['{col}_{l}'.format(col = i, l = self.language)]= self.data[i].map(lambda s:self.process_translations(s))     

    return self.data

In [ ]:
test_data.head()

,id,utterance,slot_labels,intent
0,1,i would like to find a flight from charlotte t...,O O O O O O O O B-fromloc.city_name O B-toloc....,flight
1,2,on april first i need a ticket from tacoma to ...,O B-depart_date.month_name B-depart_date.day_n...,airfare
2,3,on april first i need a flight going from phoe...,O B-depart_date.month_name B-depart_date.day_n...,flight
3,4,i would like a flight traveling one way from p...,O O O O O O B-round_trip I-round_trip O B-from...,flight
4,5,i would like a flight from orlando to salt lak...,O O O O O O B-fromloc.city_name O B-toloc.city...,flight

In [ ]:
trans = Translations(test_data,'Kinyarwanda','rw')
translated_kin_df = trans.translated_data()

In [ ]:
translated_kin_df.to_csv(r'')

In [ ]:
#The same can done for other languages